article {
  width: 100%;
  height: 91vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #92b4f346;
}

section {
  display: flex;
  flex-direction: column;
  padding: 5% 0 0 0;
  background-color: #ffffff;
  width: 30%;
  height: 70vh;
  color: #000000;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  box-shadow: 1px 2px 10px #002fff31;
}

img {
  display: flex;
  width: 14vw;
  transition: transform 200ms ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

legend {
  margin-top: 0.5rem;
  width: 100%;
  height: 5%;
  text-align: center;
  font-size: 0.8rem;
}

label {
  display: flex;
  flex-direction: column;
  width: 60%;

  font-size: 0.8rem;
  font-weight: 500;
  gap: 0.5rem;
}

#id {
  background-image: url('/images/icons/user.png');
}

#password {
  background-image: url('/images/icons/padlock.png');
}

#id,
#password {
  height: 4vh;

  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;

  padding-left: 35px;
  border-radius: 0.5rem;

  border-radius: 0.5rem;
  border-color: #0000005b;
  border-width: 0.1rem;
  border-style: groove;
  border-color: #0000005b;
  transition: transform 200ms ease-in-out;
}

#id:focus,
#password:focus {
  outline: none;
  border-width: 0.1rem;
  border-color: var(--main-color);
  box-shadow: 1px 2px 10px #001aff1c;
  transform: scale(1.05);
}

button {
  width: 60%;
  height: 3.5vh;
  background-color: var(--btn-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--background-color);
  box-shadow: 1px 2px 5px var(--deep-color);
  transition: transform 200ms ease-in-out;
}

button:hover {
  background-color: var(--main-color);
  cursor: pointer;
  transform: scale(1.05);
}

h2 {
  font-size: 1.5rem;
  height: 3vh;
}

p {
  font-size: 0.8rem;
  color: #0000008c;
  height: 2.5vh;
}
