<article>
  <section class="header-section">
    <h2>Ver torneos</h2>
    <a routerLink="/backoffice/tournaments/create" class="btn btn-primary" title="Crear nuevo torneo">+ Crear Torneo</a>
  </section>

  <section class="roles-section">
    @if (tournaments.length === 0) {
      <section>
        <p>No tournaments available.</p>
      </section>
    }@else {
      @for (tour of tournaments; track tour.id) {
        <section class="role-card">
          <div class="role-header">
            <section class="role-info">
              <svg height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M280-120v-80h160v-124q-49-11-87.5-41.5T296-442q-75-9-125.5-65.5T120-640v-40q0-33 23.5-56.5T200-760h80v-80h400v80h80q33 0 56.5 23.5T840-680v40q0 76-50.5 132.5T664-442q-18 46-56.5 76.5T520-324v124h160v80H280Zm0-408v-152h-80v40q0 38 22 68.5t58 43.5Zm285 93q35-35 35-85v-240H360v240q0 50 35 85t85 35q50 0 85-35Zm115-93q36-13 58-43.5t22-68.5v-40h-80v152Zm-200-52Z"/></svg>
              <h3>{{ tour.name }}</h3>
            </section>
          </div>
          <div class="role-permissions">
            <h4>Descripción</h4>
            <p>{{ tour.description }}</p>
          </div>
        </section>
      }
    }
    <a routerLink="/admin/roles/create" class="create-role-card" title="Crear nuevo rol">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
      <h3>Crear Rol</h3>
      <p>Agrega un nuevo rol para gestionar permisos y accesos de usuarios.</p>
    </a>
  </section>
</article>
